# The port where this server will run
API_PORT = 
# The URL where the client is running (local). Example: http://localhost:3000
CLIENT_LOCAL_URL =
# The URl where the client is running (network). Example: http://192.161.8.4:5173 
CLIENT_NETWORK_URL = 