# --- Secrets (CRITICAL) ---
.env


# --- Dependencies ---
node_modules/
jspm_packages/

# --- Debug/Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Build/Dist ---
dist/
build/

# --- Editor/System ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?